@charset "utf-8";
/* CSS Document */
/* BLUE THEME */
:root {
    --header-bg: #ffffff; 
    --header-title-color: #5f6369;

    --nav-bar-bg: #57d9ed;
    --nav-bar-link: #5f6369; 
	
    --stickybar: #57d9ed; 	

    --mobile-menu-bg: #57d9ed;	
    --mobile-link-color: #5f6369;
}
