@charset "utf-8";
/* CSS Document */
/* BROWN THEME */
:root {
    --header-bg: #d8c3a4; 
    --header-title-color: #40382d;

    --nav-bar-bg: #b5a286;
    --nav-bar-link: #40382d; 
	
    --stickybar: #b5a286;	

    --mobile-menu-bg: #40382d;	
    --mobile-link-color: #b5a286;
}
#header .sidr .sidr-inner ul li#contact-id a {
    border-top: none;
    color: var(--mobile-link-color);
    overflow: hidden;
    font-weight: 600 !important;
    width: 200px;
}