@charset "utf-8";
/* CSS Document */
/* COOL THEME */
:root {
    --header-bg: #29343A;
    --header-title-color: #ffffff;
	
    --nav-bar-bg: #6C7B85;
    --nav-bar-link: #ffffff;
    
	--stickybar: #6C7B85;
    
	--mobile-menu-bg: #6C7B85;
    --mobile-link-color: #ffffff;
}
#header a {
    font-weight: 400;
}