@charset "utf-8";
/* CSS Document */
/* EARTH THEME */
:root {
    --header-bg: #5f5f5f;
    --header-title-color: #ffffff;

    --nav-bar-bg: #4CAF50;
    --nav-bar-link: #ffffff;
	
    --stickybar: #5f5f5f;	

    --mobile-menu-bg: #bfbfbf;	
    --mobile-link-color: #5f5f5f;
}
/* Style Overrides */
#sub_nav a:hover,
#nav li a:hover,
#nav li a:hover svg,
#languages:hover svg, 
#nav li a:hover,
#nav li a.active:hover {
    color: #2b652e;
    fill: #2b652e;	
}
#nav li a.active {
    color: var(--nav-bar-link);
	font-weight: 500;
}