@charset "utf-8";
/* CSS Document */
/* ICE THEME */
:root {
    --header-bg: #004d73; 
    --header-title-color: #dbebfa;

    --nav-bar-bg: #44a2d0;
    --nav-bar-link: #004d73; 
	
    --stickybar: #44a2d0; 	

    --mobile-menu-bg: #44a2d0;	
    --mobile-link-color: #004d73;
}
a[href*="/scp/login.php"], 
a[href*="/scp/logout.php"] {
    background: initial !important;
}