@charset "utf-8";
/* CSS Document */
/* PINK THEME */
:root {
    --header-bg: #D59F9A;
    --header-title-color: #3e5d69;

    --nav-bar-bg: #89C3D9;
    --nav-bar-link: #3e5d69;
	
    --stickybar: #3e5d69;	

	--mobile-menu-bg: #89C3D9;	
	--mobile-link-color: #3e5d69;
}
/* Style Overrides for better contrast */
.pull-right#nav a:hover, 
.pull-right#nav a svg:hover,
a.no-pjax[href*="/logout.php"] svg:hover,
#nav .inactive li a:hover,
#nav li a.active, 
#nav li a:hover,
#sub_nav a:hover,
#nav li a.active svg, 
#nav li a:hover svg {
    color: #000000;
    fill: #000000;
}
#left-logo:hover > #header-text #header-title,
#left-logo:hover > #header-text #header-subtitle {
    color: #000000;
    fill: #000000;
}
#nav .inactive li a:hover {
    background-color: rgba(0,0,0,0.05);
}
.pull-right.flush-right {
    font-weight: 400;
}	
a[href*="/scp/login.php"], 
a[href*="/scp/logout.php"] {
    background: initial !important;
}
