@charset "utf-8";
/* CSS Document */
/* SOFT THEME */
:root {
	--header-bg: #e4e4e4;	
	--header-title-color: #444444;

	--nav-bar-bg: #cecece;
	--nav-bar-link: #2c2b2b;
	
	--stickybar: #444444;	

	--mobile-menu-bg: #cecece;	
	--mobile-link-color: #2c2b2b;
}
/* Style Overrides for better contrast */
.pull-right#nav a:hover, 
.pull-right#nav a svg:hover,
a.no-pjax[href*="/logout.php"] svg:hover,
#nav .inactive li a:hover,
#nav li a.active, 
#nav li a:hover,
#sub_nav a:hover {
    color: #000000;
    fill: #000000;
}
#left-logo:hover > #header-text #header-title,
#left-logo:hover > #header-text #header-subtitle {
    color: #000000;
    fill: #000000;
}
#nav .inactive li a:hover {
    background-color: rgba(0,0,0,0.05);
}
.pull-right.flush-right {
    font-weight: 400;
}	
#footer svg {
    fill: #656565;
}
.sticky.bar.fixed .action-button:hover {
    border-color: #909090 !important;
}
.action-button:before {
    background: #909090 !important;
}

