	<div id="osticket">
		<a href="https://aws.amazon.com/what-is-cloud-computing" id="osticket-link" class="jump" target="_blank">
			<img src="https://d0.awsstatic.com/logos/powered-by-aws-white.png" width="95">
		</a>
	</div>		
	<div id="ostawesome">
		<a href="#" id="ostawesome-link" class="jump" target="_blank">
			<img src="https://i.imgur.com/lurk1JB.png" width="90">
		</a>
	</div>
		<div class="clear"></div>
<script>
//Check Ticket Status gets unique bottom border
$("a[href*=\"view.php\"]").parent().addClass('border');

// >5 language packs, let's do stuff
$('.flag:nth-child(5)').closest('div#lang-wrapper').addClass("chevron"); 
var intTotalWidth = 0;
$(".button-text-container .flag").each(function(index, value) {
	intTotalWidth = intTotalWidth + parseInt($(this).innerWidth())+5;
	$(".button-text-container").css("width", intTotalWidth);	
});
$(document).ready(function(){
  $("#myButton").click(function(){
	$('ul#nav').toggleClass("hide-nav");	  
    $(".button-text-container").toggleClass("grow");
    $(".button-text-container").toggleClass("shrink");
  });
});
</script>		