		<script src="//storage.googleapis.com/code.getmdl.io/1.0.1/material.min.js"></script>
		<script src="<?php echo ROOT_PATH; ?>osta/js/jquery.columnizer.js"></script>
		<link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700|Poppins:300,400,500,600|Open+Sans:400,400i,600,600i,700|Product+Sans:400" rel="stylesheet" type="text/css">		
		<script src="//cdn.jsdelivr.net/jquery.sidr/2.2.1/jquery.sidr.min.js"></script>
		<link type="text/css" rel="stylesheet" href="<?php echo ROOT_PATH; ?>osta/css/staff-desktop.css"/>			
		<link type="text/css" rel="stylesheet" href="<?php echo ROOT_PATH; ?>osta/css/svg.css"/>	    
	    <link type="text/css" rel="stylesheet" href="<?php echo ROOT_PATH; ?>osta/css/sidr.css">
	    <link type="text/css" rel="stylesheet" href="<?php echo ROOT_PATH; ?>osta/css/hamburger.css">    	
	    <link type="text/css" rel="stylesheet" href="<?php echo ROOT_PATH; ?>osta/css/client-desktop.css?19292ad"/>	
	    <link type="text/css" rel="stylesheet" href="<?php echo ROOT_PATH; ?>osta/css/client-mobile.css"/>	

		<?php 
			require_once $_SERVER['DOCUMENT_ROOT'] . ROOT_PATH . "/osta/php/functions.php";
			echo get_theme_css();
		?>
		
		
	<script type="text/javascript" src="<?php echo ROOT_PATH; ?>osta/js/osta-client.js"></script>		
	<script type="text/javascript" src="<?php echo ROOT_PATH; ?>osta/user-scripts.js"></script>
	<link type="text/css" rel="stylesheet" href="<?php echo ROOT_PATH; ?>osta/user-styles.css"/>