<button onclick="topFunction()" id="scroll-to-top" title="Go to top">
	<svg style="width:24px;height:24px" viewBox="0 0 24 24">
		<path d="M7.41,15.41L12,10.83L16.59,15.41L18,14L12,8L6,14L7.41,15.41Z" />
	</svg>
</button>
<div class="clear"></div>
	<!-- <div id="osticket">
		<a href="https://aws.amazon.com/what-is-cloud-computing" id="osticket-link" class="jump" target="_blank">
			<img src="https://d0.awsstatic.com/logos/powered-by-aws-white.png" width="95">
		</a>
	</div>		
	<div id="ostawesome">
		<a href="#" id="ostawesome-link" class="jump" target="_blank">
			<img src="https://i.imgur.com/uZ3yrZW.png" width="90">
		</a>
	</div>		 -->
	<div class="clear"></div>
	<script>
		$(document).ready(function() {
			$('#simple-menu').sidr({
				renaming: false
			});
			$('.submenu-button').click(function(e) {
				e.preventDefault();
				$(this).next().slideToggle();
			});
		});
		$(document).ready(function(){
			$(".c-hamburger").on("click",function(e) {
				$.sidr('close','sidr-right');
			});
			$(".submenu").on("click",function(e) {
				$.sidr('close','sidr-right');
			});
			$("#sidr-right").on("click",function(e) {
				e.stopPropagation();
			});
		});	
		
		$( "table.list th:first-child" ).wrapInner( "<a id=\"selectToggle\" href=\"#ckb\"></a>");
		

		
		$( "li a[attrib*=\"/scp/tasks.php\"].submenu-button" ).after( "<ul class=\"submenu\"><li><a class=\"Ticket\" href=\"tasks.php?status=open\">Open Tasks</a></li><li><a class=\"Ticket\" href=\"tasks.php?status=closed\">Completed Tasks</a></li><li><a class=\"Ticket\" href=\"tasks.php#tasks/add\">New Task</a></li></ul>" );			
		
		$('a[attrib$="tickets.php"]').replaceWith(function(){
			return $("<a href=\"tickets.php\">Tickets</a>", {html: $(this).html()});
		});		
		if ($(".personalQmenu")[0]){
			$(".sidr ul li:nth-last-child(4)").addClass("hide-tickets-link");
		} else {
			// Do something if class does not exist
		}	
	</script>
